// Footer html template (meteor-jade)

template(name='footer')
  #footer-gradient  
    .container-fluid
      .row
        // logo
        #foot-logo.col-xs-3.col-md-2
          br
          img.img-rounded(src='img/logotype.png', alt='Ericsson logo')
        
        
        // Content area //
        // col1
        .col-xs-3.col-md-2.list-group
          h3
            small 
              b Column 1 Label
          ul.list-group
            p.list-group Li 1
            
        // col2
        .col-xs-3.col-md-2.list-group
          h3
            small 
              b Column 2 Label
          ul.list-group
            p.list-group Li 1
            
        // col3
        .col-xs-3.col-md-2.list-group
          h3
            small 
              b Column 3 Label
          ul.list-group
            p.list-group Li 1
        // col3
        .col-xs-3.col-md-2.list-group
          h3
            small 
              b Column 4 Label
          ul.list-group
            p.list-group Li 1
        #right-foot-space.col-xs-3.col-md-2
