// Base template used throughout the application
//
    There are a number of regions where templates are yielded
    They are marked with the yield command {{yield}}
    There are a number of areas to where data is passed (header, navbar, sidebar, etc.)
    These are marked with curly braces 
    Visit 'router.js' in order to change the data
    Visit 'bootstrap_variables.import.less' in order to change the appearance

template(name='layout')
  header
    nav
      | {{> yield region='nav'}}

  div#welcome.container-fluid
    | {{> yield region='description'}}

  div.container-fluid
    div.row#side-bar
      aside
        | {{> yield region='aside'}}
      div#content-block.col-xs-12.col-md-10.main
        | {{> yield region='pageheader'}}
        div#yield-content
          | {{> yield}}

  footer
    | {{> yield region='footer'}}
