// Sidebar html template (meteor-jade)


template(name='sidebar')
  div#side-nav.col-xs-3.col-md-2.sidebar
    //
    ul.nav.nav-sidebar
      li.active.menu-uppercase
        a {{getText subTitle}}

      each getItems
        li.nav-tabs.menu-capitalize.sidebar-tabs
          a(href="{{pathFor route}}") > {{getText label}} 