// Template landing page for managing accounts. 

template(name='manage-accounts')
  h3.sub-header Manage accounts
  p.lead  > Placeholder text. 
    //+placeholder-template
    
template(name="manage-accounts-subtemplate1")

template(name="manage-accounts-subtemplate2")

// etcetera ..