// Template landing page for managing analytics. 

template(name='manage-analytics')
  h3.sub-header Manage analytics
  p.lead  > Placeholder text. 
    //+placeholder-template
    
template(name="manage-analytics-subtemplate1")

template(name="manage-analytics-subtemplate2")

// etcetera ..