// Template landing page for managing company hierarchies. 

template(name='manage-hierarchy')
  h3.sub-header Manage hierarchies
  p.lead  > Placeholder text. 
    //+placeholder-template
    
template(name="manage-hierarchy-subtemplate1")

template(name="manage-hierarchy-subtemplate2")

// etcetera ..