// Template page for managing Pollonium profile settings. 

template(name='manage-settings')
  h3.sub-header Adjust settings
  p.lead  > Placeholder text. 
    //+placeholder-template
    
template(name="manage-settings-subtemplate1")

template(name="manage-settings-subtemplate2")

// etcetera ..