// Template landing page for managing Pollonium. 

template(name='manage')
  h3.sub-header {{getText subHeader}} 
  // if session
  p.lead {{getText leadTextSignedIn}}  
    // Render sign-in template
    +signin
  // else
      TODO: Signed-in text


