// Template landing page for managing personnel settings. 

template(name='manage-personnel')
  h3.sub-header Manage personnel
  p.lead  > Placeholder text. 
    //+placeholder-template
    
template(name="manage-personnel-subtemplate1")

template(name="manage-personnel-subtemplate2")

// etcetera ..