// Template(s) for managing surveys. 
   TODO: Language strings, sub templates !!

template(name='manage')
  h3.sub-header Create, edit, and analyze surveys
  p.lead  > Please sign in with your admin account in order to use this service. 
    +signin


template(name='submanagetemplate')
