template(name='create_survey')
    .col-xs-7.col-md-5.main
        if newSurveyRequired
           |  {{> new_survey}}
        else
            // TODO: lang string
            | {{> survey_create}} 
    .col-xs-7.col-md-5.mai
        // Check if there is a record in the db
        unless newSurveyRequired
            #item-list
              each surveyItems
                .well.well-sm.item 
                    | {{> survey_item}}
                    | {{> insertQuestionForm}}


template(name="new_survey")
    // TODO: lang string
    h2.sub-header.menu-uppercase  {{getText "submenu.survey.create"}} {{getText 'menu.surveys'}}  
    .well
        h4.sub-header.menu-uppercase Database Empty
        // TODO: lang string
        | No survey found. Please create a new survey.  
        button.btn.btn-primary.pull-right.menu-capitalize(type="button" id="new_survey")
            | {{getText "submenu.survey.create"}}
            
template(name="insertQuestionForm")
    | {{> quickForm collection="Question" id="insertQuestionForm" doc=editingDoc type="disabled"}}
    | {{> afDeleteButton collection="Question" doc=editingDoc}}

template(name='survey_create')
  #items-view
    #new-survey-box
      // TODO: lang string
      h2.sub-header.menu-uppercase {{getText "submenu.survey.create"}} {{getText 'menu.surveys'}}  
      .input-group
          // TODO: lang string
          input.form-control#new-survey(type='text', placeholder='New Survey Item')
          span.input-group-btn
              button.btn.btn-default(type="button") Add!


template(name='survey_item')
  .survey
    if editing
      .edit
        input.form-control.input-sm#survey-input(type='text', value='{{text}}',  placeholder=".col-xs-3")
    else
      .destroy
      .display
        .survey-text 
            b 
               | {{text}}