template(name='create_survey')
    .col-xs-7.col-md-5.main
        // | {{> quickForm collection="Books" id="insertBookForm" type="insert"}}
        |{{> survey_create}}
    .col-xs-7.col-md-5.main
        if isItems
            #item-list
              each survey
                .well.well-sm.item 
                    | {{> survey_item}}
                    | {{> insertQuestionForm}}
        else
            // TODO: lang string
            p No data yet
            
template(name="insertQuestionForm")
    | {{> quickForm collection="Question" id="insertQuestionForm" doc=editingDoc type="update"}}
    | {{> afDeleteButton collection="Question" doc=editingDoc}}

template(name='survey_create')
  #items-view
    #new-survey-box
      // TODO: lang string
      h2.sub-header.menu-uppercase Create 
      .input-group
          // TODO: lang string
          input.form-control#new-survey(type='text', placeholder='New Survey Item')
          span.input-group-btn
              button.btn.btn-default(type="button") Add!


template(name='survey_item')
  .survey
    if editing
      .edit
        input#survey-input(type='text', value='{{text}}')
    else
      .destroy
      .display
        .survey-text 
            b 
              | {{rank}}. 
            | {{text}}