// Template landing page for managing company surveys. 

template(name='manage-surveys')
  h3.sub-header Manage surveys
  p.lead  > Placeholder text. 
    //+placeholder-template
    
template(name="manage-survey-subtemplate1")

template(name="manage-survey-subtemplate2")

// etcetera ..